<app-form title="Change password" [formGroup]="form">
    <div class="change-password-container">
        <app-input-text
         id="password"
         label="Password"
         formControlName="password"
         type="password"
        ></app-input-text>
        <app-input-text
         id="confirm-password"
         label="Confirm password"
         formControlName="confirmPassword"
         type="password"
        ></app-input-text>
        <span class="error-label" [ngClass]="{'show-text':samePasswordError}">Input fields don't correspons</span>
        <section class="button-section">
            <app-button>Save</app-button>
        </section>
    </div>
</app-form>
<div>
   samepassword:{{samePasswordError|json}} |||
    {{form.valid|json}}
</div>
