.change-password-container{
    display: flex;
    flex-direction: column;
    gap:6rem;
}

.button-section{
    display: flex;
    justify-content: center;
}

.error-label{
    visibility: hidden;
}

.show-text{
    visibility: visible;
}

