<div class="new-game">
  <p class="title">Create a new 1000 points game</p>
  <form class="form" [formGroup]="form">
    <app-input-text label="Name" id="name" [errorLabel]="nameErrorLabel" formControlName="name"></app-input-text>
    <app-text-area label="Description" id="description" formControlName="description"></app-text-area>
    <div class="button-area">
      <app-button type="submit" (click)="onSubmit($event)" [disabled]="disabledSubmit"><span class="button-text" >Create game</span></app-button>
    </div>
  </form>
</div>
