<div class="goal-list">
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
    <app-goal-card></app-goal-card>
</div>
