<div class="menu-item">
    <svg class="icon">
      <use  xlink:href="assets/icons/menuicons.svg#icon-trophy"></use>
    </svg>
  <span class="icon-title">Leaderboard</span>
</div>
<ul class="list-container">
    <li class="goal-item">
        <span class="goal-details">Name</span>
        <span class="points-container">
            <span>30</span>
        </span>

    </li>
    <li class="goal-item">
        <span class="goal-details">Did something special</span>
        <span class="points-container">
            <span>30</span>
        </span>

    </li>
    <li class="goal-item">
        <span class="goal-details">Something else special</span>
        <span class="points-container">
            <span>30</span>
        </span>

    </li>
    <li class="goal-item">
        <span class="goal-details">nothing to describe</span>
        <span class="points-container">
            <span>30</span>
        </span>

    </li>
    <li class="goal-item">
        <span class="goal-details">nothing to describe</span>
        <span class="points-container">
            <span>30</span>
        </span>

    </li>
    <li class="goal-item">
        <span class="goal-details">nothing to describe</span>
        <span class="points-container">
            <span>30</span>
        </span>

    </li>
    <li class="goal-item">
        <span class="goal-details">nothing to describe</span>
        <span class="points-container">
            <span>30</span>
        </span>

    </li>
</ul>