@use "../../../style/mixins" as m;
$label-top: -2.5rem;
.input-container {
  width: 100%;
  position: relative;

  label {
    position: absolute;
    top: 0;
    @include m.font-small;
    pointer-events: none;
    left: 0;
    transition: all 0.2s ease-in;
    color: var(--border-primary-color);
  }

  .text-input {
    @include m.font-small;
    box-sizing: border-box;
    border: none;
    border-bottom: var(--border-primary);
    background: var(--background-primary);
    color: var(--primary-alt);
    height: 2rem;
    width: 100%;

    &::placeholder {
      color: transparent;
    }

    &:not(:placeholder-shown) ~ label {
      top: $label-top;
    }

    &:focus {
      border-bottom: var(--border-primary);
      border-color: var(--primary-alt);
    }

    &:focus ~ label {
      top: $label-top;
      color: var(--primary-alt);
      @include m.font-x-small;
    }
  }
}

.eye-container {
  position: absolute;
  top: -4px;
  right: 0;
  > svg {
    fill: var(--primary-alt);
  }
}

.error-message {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--error-primary);
  visibility: hidden;
}

:host {
  &.ng-touched.ng-invalid {
    .input-container {
      input:not(:focus){
        border-bottom:1px solid var(--error-primary);
        &~.error-message {
          visibility: visible;
        }
      }
      }
  
    }
  }


:host{
  &.ng-touched.ng-valid{
    .input-container{
      input{
        border-bottom:1px solid var(--success-primary);
      }
    }
  }
}