<div class="goal-card" (click)="toggleShowDetails()" [ngClass]="{reached:reached}">
  <div class="description-area">
    <p class="description">
      {{ goal.description || goal.name }}
    </p>
  </div>

  <div class="points-area">
    <div class="points-badge" *ngIf="showPoints">{{ goal.points || 2 }}</div>
  </div>
  <div class="title-area">
    <span class="title"> {{ goal.name }} </span>
  </div>
  <div *ngIf="!reached && show" class="action-section">
     <app-button>
      <span class="button-content">
        I reached this goal
      </span>
    </app-button>
  </div>
</div>
