<div
  class="goal-card"
  (click)="toggleShowDetails()"
  [ngClass]="{ reached: reached , myproposed:isMyProposed}"
>
  <div class="description-area">
    <p class="description">
      {{ goal.description || goal.name }}
    </p>

    <div *ngIf="isUpvote">
      2 points
    </div>
  </div>

  <div class="points-area">
    <div
      class="points-badge-modern"
      [ngClass]="{ 'reached-badge': reached }"
      *ngIf="showPoints && !isUpvote"
    >
      {{ goal.points || 2 }}
    </div>

    <div
      class="upvotes-badge"
      [ngClass]="{ 'reached-badge': reached }"
      *ngIf="isUpvote"
    >
      {{ upvoteRatio }}
    </div>
  </div>
  
  <div class="title-area">
    <span class="title"> {{ goal.name }} </span>
  </div>
  <ng-container #buttoncontainer></ng-container>
</div>

<ng-template #reachedgoal>
  <div *ngIf="withAction  && show" class="action-section">
    <app-button (click)="onClickGoal()">
      <span class="button-content" *ngIf="!reached"> I reached this goal </span>
      <span class="button-content" *ngIf="reached"> I did not reach this goal! </span>
    </app-button>
  </div>
</ng-template>


<ng-template #upvote>
  <div *ngIf="withAction  && !isMyProposed && show" class="action-section">
    <app-button (click)="onClickGoal()">
      <span class="button-content" *ngIf="upvoted">Remove your vote</span>
      <span class="button-content" *ngIf="!upvoted"> Upvote this goal </span>
    </app-button>
  </div>
</ng-template>
