:host {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: gray;
 
}

.app{
    padding:1rem;
    max-width: 100rem;
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/backgrounds/main-bg.jpg');
}

.main-content{
  min-height: 100vh;
}