@mixin global-font {
  font-family: "Caveat", cursive;
  font-family: "Nova Mono", monospace;
}

@mixin font-size($size) {
  font-size: $size;
}

@mixin styled-borders {
  outline: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius);
  // box-shadow: inset 0px 0px 15px 2px rgba(202, 202, 202, 0.78);
}

@mixin font-huge {
  @include font-size(5rem);
}

@mixin font-big {
  @include font-size(4rem);
}

@mixin font-medium {
  @include font-size(3rem);
}
@mixin font-small {
  @include font-size(2rem);
}

@mixin font-x-small {
  @include font-size(1.5rem);
}
@mixin font-x-x-small {
  @include font-size(1.2rem);
}

@mixin font-petite {
  @include font-size(1rem);
}

@mixin add-background($url) {
  position: relative;

  > * {
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    // background-color: #00000070;
    background-image: $url;
    background-size: cover;
    background-position: center;
    filter: opacity(0.8) brightness(0.5);
    z-index: 0;
  }
}

@mixin glass-bg {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  // -webkit-box-shadow: inset 0px 0px 23px 1px rgba(202, 202, 202, 0.78);
  box-shadow: inset 0px 0px 15px 1px rgba(202, 202, 202, 0.78);
  border: 1px solid rgba(202, 202, 202, 0.24);
  border-radius: var(--border-radius);
}

//this mixin is internal don't use outside this file
@mixin breakpoints($breakpoint) {
  @if $breakpoint == laptop {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 920px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 481px) {
      @content;
    }
  }
  @if $breakpoint == mobile-small {
    @media only screen and (max-width: 325px) {
      @content;
    }
  }
}

@mixin devices($breakpoint, $landscape: false) {
  //the name of the mixin is devices

  @if $landscape==true {
    @media (orientation: landscape) {
      @include breakpoints($breakpoint) {
        @content;
      }
    }
  } @else {
    @include breakpoints($breakpoint) {
      @content;
    }
  }
}
