:root{
    --border-primary:1px solid rgba(146, 146, 146, 0.6);
    --border-primary-thick:2px solid rgba(146, 146, 146, 0.6);
    --border-primary-color:rgba(146, 146, 146, 0.6);
    --background-primary:rgba(0,0,0, 0.4);
    --border-radius:0.5rem;
    --primary-alt:#ffffffcc;
    --goal-card-badge-bg:#e4dec6a8;
    --user-nav-bg-color:black;

    //sizes
    --user-menu-header-height:6.5rem;
    --user-nav-height:7rem;
    --app-padding:1rem;
}