
:root{
    --border-primary:1px solid rgba(146, 146, 146, 0.6);
    --border-primary-thick:2px solid rgba(146, 146, 146, 0.6);
    --border-primary-color:rgba(146, 146, 146, 0.6);
    --background-primary:rgba(0,0,0, 0.4);
    --primary-alt:#ffffffcc;
    --goal-card-badge-bg:#e4dec6a8;
    --user-nav-bg-color:black;
    --active-button-box-shadow:inset -11px 11px 100px -51px #FFFFFF;
    --error-primary:rgb(211, 62, 62);
    --success-primary:rgb(43, 131, 47);
    --success-toastr-bg: #00ff002b;
    --error-toastr-bg: #d5000091;

    
    //sizes
    --user-menu-header-height:6.5rem;
    --user-nav-height:7rem;
    --app-padding:1rem;
    --footer-height:5rem;
    --goals-proposed-goals-details-buttons-navbar:3rem;
    --total-height:calc(var(--user-nav-height) + var(--footer-height) + var(--goals-proposed-goals-details-buttons-navbar));
    --border-radius:1.6rem;
}

$main-background:url('../assets/backgrounds/main-background.jpg');
$background-card-1: url('../assets/backgrounds/cards-backgrounds/img-1.jpg');
$background-card-2: url('../assets/backgrounds/cards-backgrounds/img-2.jpg');
$background-card-3: url('../assets/backgrounds/cards-backgrounds/img-3.jpg');
$background-card-4: url('../assets/backgrounds/cards-backgrounds/img-4.jpg');
$background-card-5: url('../assets/backgrounds/cards-backgrounds/img-5.jpg');