<!-- <div class="blurry"></div> -->
<div class="menu">
  <app-close-btn (click)="close()"></app-close-btn>
  <div class="menu-header">
    <svg class="logo">
      <use xlink:href="assets/logos/logo.svg#logo"></use>
    </svg>
  </div>
  <div class="menu-body">
    <div class="menu-item" (click)="navigateTo(linkToGoals)" aria-label="goals-button">
        <svg class="icon" >
          <use xlink:href="assets/icons/menuicons.svg#icon-key"></use>
        </svg>
  
      <span class="icon-title">Goals</span>
    </div>
    <div class="menu-item" (click)="navigateTo(linkToProposed)">
        <svg class="icon" >
          <use  xlink:href="assets/icons/menuicons.svg#icon-heart"></use>
        </svg>
     
      <span class="icon-title">Proposed Goals</span>
    </div>
    <div class="menu-item"  (click)="navigateTo(linkToUserHome)">
        <svg class="icon"  >
          <use  xlink:href="assets/icons/menuicons.svg#icon-home"></use>
        </svg>
      
      <span class="icon-title">Home</span>
    </div>
  
    <div class="menu-item" (click)="navigateTo(linkToLeaderboard)">
        <svg class="icon" >
          <use  xlink:href="assets/icons/menuicons.svg#icon-trophy"></use>
        </svg>
      <span class="icon-title">Leaderboard</span>
    </div>
    <div class="menu-item" (click)="navigateTo(linkToMembers)">
        <svg class="icon" >
          <use  xlink:href="assets/icons/menuicons.svg#icon-users"></use>
        </svg>
      <span class="icon-title">Members</span>
    </div>
    <div class="menu-item" (click)="logout()">
        <svg class="icon" >
          <use  xlink:href="assets/icons/menuicons.svg#icon-lock"></use>
        </svg>
      <span class="icon-title">Logout</span>
    </div>
    <!-- <div class="full-row logout-section">
 
    </div> -->
  </div>
</div>
