@use '../../../style/mixins' as m;

$grid-gap:1.5rem;
.dashboard-body{
    padding-top: 4rem;
    padding-bottom: 6rem;
    
    @include m.devices(tablet,true){
        
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}
.stats-section{
    display: grid;
    gap:$grid-gap;
    grid-template-areas: "pie pie score" 
                         "pie pie .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    @include m.devices(tablet,true){
        grid-template-areas: ". pie  score .";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;  
    }
    width: 100%;

}

.title{
    @include m.font-small;
    padding-bottom: 2rem;
}

.pie-chart-container{
    grid-area: pie;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-container{
    justify-content: space-around;
    grid-area: score;
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    @include m.glass-bg;
    .score-num{
        @include m.font-medium;
    }
    .title{
        @include m.font-x-small;
    }
}


.reached-goals-container{
    margin-top:$grid-gap;
}


.reached-goals-title{
    @include m.font-x-small;
}