<div class="dashboard-body">
  <!-- <p class="title">Dashboard</p> -->
  <section class="stats-section">
    <div class="pie-chart-container">
      <app-pie-chart [percentage]="percentage"></app-pie-chart>
    </div>
    <div class="score-container">
      <span class="title">Score</span>
      <span class="score-num">{{points}}</span>
    </div>
  </section>
  <section class="reached-goals-container">
    <p class="reached-goals-title">Reached goals</p>
    <app-goals-list-container [list]="reachedGoals||[]"></app-goals-list-container>
  </section>
</div>
