@use '../../../style/mixins' as m;
.form-container {
  display: flex;
  flex-direction: column;
  border: var(--border-primary);
  background: var(--background-primary);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  padding:2.5rem;

  .title {
    @include m.font-small;
    text-align: center;
  }

  form {
    margin-top: 3rem;
  }
}
