@use '../../../style/mixins' as m;

:host{
    width: 100%;
    height: 100%;
    display: flex;
    @include m.glass-bg;
  }
  .pie {
    margin: auto;
    display: block;
    width: 90%;
    aspect-ratio:1;
    display: flex;
    place-content: center;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include m.font-huge;
  }
  
  .pie:before{
    width:100%;
    height:100%;
    display:block;
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
     -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }