@use '../../../style/mixins' as m;
:host{
    width: 100%;
}
.user-nav{
 display: flex;
 gap: 1rem;
 position: relative;
 z-index: 2;
 align-items: center;
 width: 100%;
 justify-content: space-between;
}

.logo{
    height: 5rem;
    width: 5rem;
}

.logout{
    fill: white;
}

.title{
    flex:1;
    @include m.font-medium;
    display: flex;
    align-items: center;
}

.menu-btn{
    display: flex;
    height: 6rem;
    align-items: center;
    gap:4rem;
}

.btn-container{
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.refresh{
    filter: invert(1);
    transition: 1s transform ease-in;
    // &:active{
    //     transform: rotate(360deg);
    // }
}

