@use "../../../style/mixins" as m;
.main-header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  fill: white;
  color: var(--primary-alt);
  text-align: center;
  @include m.global-font;
  svg {
    height: 5rem;

  }
  .slogan {
    text-transform: capitalize;
    @include m.font-small;
  }

  .good-luck {
    @include m.font-small;
  }

}
