@use '../../../style/mixins' as m;
.goal-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.6rem;
    height: 90vh;
    overflow-y: auto;
}

.snap-container{
    height: 100vh;
}

.form-container{
    height: 0%;
}

.menu-buttons{
    display: flex;
    padding:0.5rem;
    gap:1rem;
    background: var(--user-nav-bg-color);
    z-index: 2;
    top: var(--user-nav-height);
    position: sticky;

    .button{
        all: unset;
        padding: 0.5rem 0.7rem;
        background-color: transparent;
        @include m.styled-borders;
        @include m.font-x-small;
    }

    .active{
        box-shadow: var(--active-button-box-shadow);
    }
}
