<div class="menu-buttons">
  <button
    (click)="onClickMenu('proposed')"
    class="button"
    [class.active]="selected == 'proposed'"
  >
    Proposed goals
  </button>
  <button
    (click)="onClickMenu('form')"
    class="button"
    [class.active]="selected == 'form'"
  >
    Propose
  </button>
</div>
<ng-template [ngTemplateOutlet]="showedTemplate"></ng-template>
<ng-template #proposedgoals>
  <app-goal-list [list]="proposedGoalList" [withAction]="false"></app-goal-list>
</ng-template>
<ng-template #form>
  <app-goal-form></app-goal-form>
</ng-template>
