<div class="goal-list">
    <app-goal-card [showPoints]="false"></app-goal-card>
    <app-goal-card [showPoints]="false"></app-goal-card>
    <app-goal-card [showPoints]="false"></app-goal-card>
    <app-goal-card [showPoints]="false"></app-goal-card>
    <app-goal-card [showPoints]="false"></app-goal-card>
    <app-goal-card [showPoints]="false"></app-goal-card>
    <app-goal-card [showPoints]="false"></app-goal-card>
    <app-goal-card [showPoints]="false"></app-goal-card>
    <app-goal-card [showPoints]="false"></app-goal-card>
</div>